body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;

    background-color: darkblue;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    font-size: 29px;
    line-height: 39px;
    font-weight: 300;
    align-self: center;
    margin-left: 25%;
}